* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: calc( 4px + 1vw )
}
body {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
nav ul{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 3px;
    list-style-type: none;
    padding-bottom: 10px;
}
nav li {
    border: 1px solid rgba(0, 0, 0, 0.178);
    text-align: center;
}
nav li a{
    color: black;
    text-decoration: none;
}
nav li:hover a{
    color: rgb(255, 255, 255);
    background-color: rgb(77, 165, 216);
}
nav li:hover{
    background-color: rgb(77, 165, 216);
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.doboz{
    border: 1px solid rgba(0, 0, 0, 0.664);
    border-radius: 1%;
    background-color: rgb(230, 247, 255);
    display: grid;
    grid-template-rows: 50px auto auto 30px;
    padding: 5px;
}
.ar{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
img {
    width: 100%;
}
aside {
    margin: 5px;
    border-radius: 1%;
    background-color: rgb(230, 247, 255);
    display: grid;
    height: 100%;
    grid-template-rows: auto 50px;
    
}
.kosar{
    padding: 5px;
    border-bottom: 1px solid black; 
}
.szamla{
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
}

main {
    background-color: rgb(197, 228, 243);
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "ar ar as"
    "f f f";
}
header {
    grid-area: h;
}
nav {
    grid-area: n;
}
article {
    grid-area: ar;
}
aside {
    grid-area: as;
}
footer {
    grid-area: f;
}

@media screen and (max-width:700px) {
    body {
        background-color: rgb(144, 174, 238);
        width: 100%;
        font-size: 3vw;
      }
    main {
        
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "h h"
        "n n"
        "ar as"
        "f f";
    } 
    article{
      
        grid-template-columns: 1fr 1fr ;
       
    }
}

@media screen and (max-width:400px) {
    body {
        background-color: rgb(144, 174, 238);
        width: 100%;
        font-size: 5vw;
      }
      main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "as"
        "ar"
        "f";
      }
      article{
      
        grid-template-columns: 1fr ;
       
    }
}